@font-face {
  font-family: sora;
  src: url("./Sora-VariableFont_wght.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sora;
  color: #e5e5e5;
  scroll-behavior: smooth;
}
body {
  background-color: #e5e5e5;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-size: 2.5em;
}

.welcome {
  width: 100vw;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay {
  background-color: black;
  width: 100vw;
  height: 100%;
  position: absolute;
  opacity: 0.7;
}

.cover {
  width: 100vw;
  height: auto;
  position: relative;
  z-index: -1;
  opacity: 1;
}

.container {
  width: fit-content;
  height: min-content;
  position: relative;
}

.heading {
  margin-bottom: 2em;
}
.text {
  /* position: absolute; */
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
}

img {
  height: 100vh;
  width: 50vw;
}

.bottom-text {
  color: #3d56b2;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 25vh;
}

.left {
  float: left;
}
.right {
  float: right;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90vw;
}

.footer img {
  /* height: 41.3vh; */
  width: 100vw;
}

.footer {
  height: 5em;
}

@media only screen and (max-width: 600px) {
  .welcome .text > * {
    font-size: 70%;
  }

  div .footer-img {
    height: 46vh;
    width: 100vw;
    position: relative;
    z-index: -1;
  }

  div .footer-text {
    margin-top: 16vh;
    height: 15vh;
  }
  div .footer-text .cr {
    top: 5vh;
  }
  div h1 {
    font-size: 1.5em;
  }
  div h2 {
    font-size: 1em;
  }
  div h3 {
    font-size: 0.8em;
  }
  div .section {
    flex-wrap: wrap;
  }
  div .wrap-rev {
    flex-wrap: wrap-reverse;
  }
  div img {
    width: 85vw;
  }
}

.footer-text {
  position: absolute;
  margin-left: 5em;
  margin-top: 5em;
  display: flex;
  font-size: 50%;
  align-items: center;
  justify-content: center;
  font-weight: 200;
}

.adr {
  margin-right: 8em;
  display: flex;
  flex-direction: column;
  width: 12vw;
}

.footer-text div h1 {
  margin-bottom: 1em;
}
.footer-text div h2 {
  margin-bottom: 0.5em;
}
a {
  text-decoration: none;
}

.cr {
  position: relative;
  top: 13vh;
  left: 20vw;
}
